.report {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 100px 20px 0px;
}
.report div {
  margin-bottom: 20px;
}

@media screen and (max-width: 630px) {
  .prescription-form {
    margin: 50px 0px 50px 10px;
  }
  .prescription-form input {
    margin-left: 0px;
    margin-bottom: 10px;
  }
}
